<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qizhi.warehouse.dao.WarehouseMapper">
  <resultMap id="BaseResultMap" type="com.qizhi.warehouse.domain.Warehouse">
    <id column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="warehouse_type" jdbcType="VARCHAR" property="warehouseType" />
    <result column="location_x" jdbcType="INTEGER" property="locationX" />
    <result column="location_y" jdbcType="INTEGER" property="locationY" />
  </resultMap>
  <sql id="Base_Column_List">
    warehouse_id, warehouse_type, location_x, location_y
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from warehouse
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from warehouse
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qizhi.warehouse.domain.Warehouse">
    insert into warehouse (warehouse_id, warehouse_type, location_x,
      location_y)
    values (#{warehouseId,jdbcType=INTEGER}, #{warehouseType,jdbcType=VARCHAR}, #{locationX,jdbcType=INTEGER},
      #{locationY,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.qizhi.warehouse.domain.Warehouse">
    update warehouse
    set warehouse_type = #{warehouseType,jdbcType=VARCHAR},
      location_x = #{locationX,jdbcType=INTEGER},
      location_y = #{locationY,jdbcType=INTEGER}
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </update>
  <!---->
  <select id="selectCity" resultMap="BaseResultMap">
    select * from warehouse where warehouse_type = 'CITY'
  </select>
  <select id="selectByLocation" resultType="com.qizhi.warehouse.domain.Warehouse">
    select * from warehouse where location_x = #{locationX} and location_y = #{locationY}
  </select>
</mapper>